.dateGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    flex: 1 0 50%;
  }
}

.date-time-picker {
  margin-top: 1rem;
  display: flex;
}

.cds--date-picker {
  gap: 1rem !important;
}

.error {
  display: flex;
  margin-top: 1rem;
  color: red;
}
