.dateGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    flex: 1 0 50%;
  }
}

.input {
  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}

.cds--date-picker {
  gap: 1rem !important;
}

.time-picker {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  display: flex;
  margin-top: 1rem;
  color: red;
}
