.header {
  background-color: black;
  &_name {
    font-size: 1.25rem !important;
    color: white !important;
  }
  &_actions {
    margin-left: auto;
    margin-right: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    button {
      background: transparent;
      font-size: 1rem;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.main {
  margin-top: 3rem !important;
}
